.App {
  text-align: center;
}
.green-light {
  margin-left: 50%;
  height: 50px;
  width: 5%;
  border: 1px solid #4CAF50;
  background-color:#c9f3cb ;
}
.yellow-light {
  margin-left: 50%;
  height: 50px;
  width: 5%;
  border: 1px solid yellow;
  background-color:rgb(249, 249, 202) ;
}
.red-light {
  margin-left: 50%;
  height: 50px;
  width: 5%;
  border: 1px solid red;
  background-color:rgb(244, 181, 181) ;
}
button{
  margin-left: 50%;
}